#portfolio-section p, ul{
    font-family: 'Muli', sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
	font-size:18px;
}

#portfolio-section img{
	border: 0;
}

#portfolio-section h1, #pixels{
    font-family: 'Oswald', sans-serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
    text-transform: uppercase;
    font-size: 3rem;
}

#portfolio-section h2{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
	font-size: 22px;
	font-weight:700;
	font-style:normal;
}

#portfolio-section .emphasis{
    font-family: 'Oswald', sans-serif;
}

#portfolio-section .intro{
    font-family: 'Oswald', sans-serif;
}

#portfolio-section h3{
    font-family: 'Muli', sans-serif;
	font-size: 20px;
	font-weight:200;
	font-style:normal;
	border-style: solid;
	border-width: 1px;
	margin-left: auto;
    margin-right: auto;
    width: 75%;
	padding: 50px 100px 50px 100px;
}

#portfolio-section #header h1, #pixels{
	color: #48941A;
}

#portfolio-section .float-left{
	float: left;	
		margin-left: auto;
    margin-right: auto;
}

#portfolio-section .float-right{
	float: right;
	margin: 0 20px 0 0;
}

#portfolio-section .center{
	font-size: 2.5em;
	padding: 20px 0 0 0;
	text-align: center;
}

#portfolio-section .column{
	margin-left: auto;
    margin-right: auto;
	width: 55%;
}
#portfolio-section .columnWide{
	margin-left: auto;
    margin-right: auto;
	width: 75%;
}

#portfolio-section #nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#portfolio-section #nav li{
	margin: 0 0 15px 0;	
}

#portfolio-section #header, #intro{
	width: 100%;
	position: relative;

}

#portfolio-section #intro{
	margin: 0 auto;
	padding: 0 0 0 0;

}

#portfolio-section #second{
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 0 0;	
}
#portfolio-section #third{
	height: 200px;
	padding: 0 0 0 0;
	
}

#portfolio-section .externalLink{
	border: solid 1px darkgrey;
	padding: 10px 20px;
	color: darkgrey;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Muli', sans-serif;
	margin:10px;
	width: calc(100% - 60px);
	float: left;
}
#portfolio-section .externalLink:hover{
	background: #581723;
	text-decoration: none;
}
#portfolio-section .externalLink:link{
	text-decoration: none;
}
#portfolio-section .externalLink:visited{
	background: #333333;
	text-decoration: none;
}
#portfolio-section .externalLink:active{
	background: #333333;
	text-decoration: none;
}

#portfolio-section .whiteOut{
	background-color: rgba(255,255,255,0.5);
	padding: 10px 20px;
}
#portfolio-section .story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 70%;
}

#portfolio-section .twoImg{
    box-sizing:border-box;
    float:left;
    width:50%;
    padding: 10px;
    display: block;
}
#portfolio-section .oneImg{
    box-sizing:border-box;
    float:left;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#portfolio-section .imgTicket{
    height: 300px;
}
#portfolio-section .large{
    width: 100%;
}

#portfolio-section .jumbotron{
    background:white;
}
